<% content_for :title do %>
  JR | Covers
<% end %>

<!-- Render the fixed navigation bar -->
<%= render "shared/nav_bar" %>


<div class="contentArea row columns medium-offset-1 medium-10 small-12">
  <!-- Description Card -->
  <div class="card description">
    <h5>Zelda Covers</h5>
    <p>
      Started mainly as a fun reimagining of a classic Legend of Zelda tune,
      the <a href="https://www.youtube.com/user/lMeMark42l" target="_blank">Mark of Two</a> channel
      has grown over the years to include a variety of reimagined piano covers of
      varying complexity and style.
      <br><br>
      For more information on my arrangement and recording process, ongoing progress on covers, and future plans, visit my blog <a href="http://markoftwonotes.tumblr.com/" target="_blank">here</a>.
    </p>
  </div>

  <!-- Sample Music Cards -->
  <!-- Will use a database and a loop to generate the cards in a future update -->
  <% videoWidth = 320 %>
  <% videoHeight = 180 %>
  <div class="card">
    <h5>Stargazing</h5>
    <p>
      My latest cover. Based on the Astral Observatory theme played in The Legend of Zelda: Majora's Mask.
      In this piece, I take a repetitive background theme and attempt to convey the highs and lows of Link's
      journey through time.
    </p>
    <div class="videoContainer">
      <iframe width="<%= videoWidth %>" height="<%= videoHeight %>" src="https://www.youtube.com/embed/jW4DwEN2CuU"
        frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="card">
    <h5>The Storm's Calling</h5>
    <p>
      The one that started it all. This is a cover of the Song of Storms from The Legend of Zelda: Ocarina of
      Time. It plays more like just a series of variations on the memorable theme, but with clear musical
      progression.
    </p>
    <div class="videoContainer">
      <iframe width="<%= videoWidth %>" height="<%= videoHeight %>" src="https://www.youtube.com/embed/P5GncKaNM5M"
        frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="card">
    <h5>A Little Morning Light</h5>
    <p>
      This piece is shorter and more lighthearted than the rest. Heavily improvised and borrowing primarily from blues, this cover of Prelude of Light from The Legend of Zelda: Ocarina of Time was the most fun of my covers to play.
    </p>
    <div class="videoContainer">
      <iframe width="<%= videoWidth %>" height="<%= videoHeight %>" src="https://www.youtube.com/embed/PS-Soh2kbf0"
        frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="card">
    <h5>Awaiting Their Return</h5>
    <p>
      A cover of Grandma's Theme from The Lengend of Zelda: Wind Waker, this piece conveys the loneliness, fear and dispair of waiting for your loved ones to return from a world of peril.
    </p>
    <div class="videoContainer">
      <iframe width="<%= videoWidth %>" height="<%= videoHeight %>" src="https://www.youtube.com/embed/ancGlIRd-Fo"
        frameborder="0" allowfullscreen></iframe>
    </div>
  </div>

  <div class="card">
    <h5>Memories Under the Moon</h5>
    <p>
      Combining both the Lost Woods theme and Majora's theme from The Legend of Zelda: Majora's Mask, I atempt to retell the story of Skull Kid; A story of loneliness, the comfort of friendship, and the decent into madness.
    </p>
    <div class="videoContainer">
      <iframe width="<%= videoWidth %>" height="<%= videoHeight %>" src="https://www.youtube.com/embed/anBAdRUPMY8"
        frameborder="0" allowfullscreen></iframe>
    </div>
  </div>
</div>